@charset "UTF-8";
*{
   margin:0;
   padding:0;
}
li{ list-style:none; }
a{ text-decoration:none; }

body{
   /* background: #FDFCF0; */
   background: linear-gradient(-135deg, gray, #313131) fixed;
   
}
.movielist_bg{ width:100%; height:300px; z-index:-5; position:absolute; }
.movielist_bg > img{ width:100%; height:300px; background-repeat: no-repeat; }
.movielist_foot_bg{
   width:100%; background-repeat: no-repeat;
   z-index:-5;
}
.movielist_foot_bg > img{ width:100%; height:200px; background-repeat: no-repeat; }
/* 버튼 */
button,
button::after {
  -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
   transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
/*   color: #fff; */
  color:#a5b1c2;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 3px 8em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
   color: #fff;
/*    color:#a5b1c2; */
  /* color: #2ecc71; */
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}


/* 공툥요소 */

/* header */
.main_bg{ width:100%; height:300px; z-index:-1000; position:absolute; }
.main_bg > img{ width:100%; height:300px; background-repeat: no-repeat; }
.f_bg{ width:100%; height:200px; z-index:-1000; position:absolute; }
.f_bg > img{ width:100%; height:100%; background-repeat: no-repeat; }

#header{ width:100%; height:300px; position:absolute; }

#header .gnb{ width:80%; height:40px; position:relative; margin:0 auto; }
#header .gnb ul{ width:200px; float:right; list-style:none; }
#header .gnb ul li{ float:right; margin-right:10px; }
#header .gnb ul > li > a{ text-decoration:none; color:white; letter-spacing:2px; font-size:13px; }

#header .nav{ width:80%; height:240px; position:relative; margin:10px auto; }
#header .nav #nav_left{ width:180px; height:180px; position:absolute; margin:30px 4%; }
#header .nav #nav_left > img{ width:180px; height:180px; }
#header .nav #nav_right{ width:180px; height:180px; position:absolute; margin-left:82%; margin-top:40px; }
#header .nav #nav_right > img{ width:220px; height:160px; }
#header .nav > h2{ width:50%; height:70px; position:absolute; margin:30px 25%; }
#header .nav > h2 > img{ width:100%; height:70px; }

#header .nav ul{ width:60%; height:60px; list-style:none; position:absolute; margin-top:120px; margin-left:20%; }
#header .nav ul > li{ float:left; width:25%; height:50px; text-align:center; line-height:80px; }
#header .nav ul > li > a{ text-decoration:none; color:white; font-size:18px; font-weight:400px; letter-spacing:2px; text-shadow: 5px 5px 5px white, 0 0 120px purple, 0 0 5px maroon; }
#header .nav ul > li > a:visited { text-decoration: none; }

/* footer */
/* #footer{ width:100%; height:200px; position:absolute;margin-top:2770px; } */
#footer .f_logo{ width:150px; height:150px; position:absolute; margin-top:-3px; }
#footer .f_logo > img{ width:150px; height:150px; }

#footer .f_txt{ width:50%; height:150px; position:relative; margin:25px auto;}
#footer address{ width:100%; height:30px; position:absolute; margin:30px auto; text-align:center; color:white; }
#footer .team1{ width:100%; height:30px; position:absolute; margin:60px auto; text-align:center; color:white; }
#footer .team2{ width:100%; height:30px; position:absolute; margin:90px auto; text-align:center; color:white; }

/* 포스트 호버 작업 */
.poster_hover_text_2{
   position: absolute;
   width:80%;
   height:24px;
   border:1px solid white;
   color:white;
   font-size: 14px;
   border-radius: 10px;
   margin-top:55%;
   margin-left:10%;
   line-height:25px;
   
}

.poster_hover_text_2 a:hover{ background:rgb(255, 255, 255, 0.8); color:black; }

.poster_hover_text_2 a{
   display:block;
   width:100%;
   height:99%;
   color:white;
   border-radius: 10px;

}
.poster_hover_text_1{
   position: absolute;
   width:80%;
   height:24px;
   border:1px solid white;
   color:white;
   font-size: 14px;
   border-radius: 10px;
   margin-top:80%;
   margin-left:10%;
   line-height:25px;
}
.poster_hover_text_1 a{
   color:white;
}

.poster_hover_text_1:hover { background:rgb(255, 255, 255, 0.8); }
.poster_hover_text_1:hover a{ color:black; }

.poster_hover_text_3{
   position: absolute;
   width:80%;
   height:24px;
   border:1px solid white;
   color:white;
   font-size: 14px;
   border-radius: 10px;
   margin-top:70%;
   margin-left:10%;
}
.poster_hover_text_3 a{
   color:white;
}

.poster_hover_text_3:hover { background:rgb(255, 255, 255, 0.8); }
.poster_hover_text_3:hover a{ color:black; }

.poster_box{
    position: relative;
    text-align: center;
    width:215px;
}

.poster_box > img {
   margin: 0px auto;
   width:215px;
   height:305px;
/*    text-align: center;  */
}
.poster_hover_text{
   position: relative;
   text-align:center;
}
.poster_box .poster_hover{
   
   
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   display:none;
   color:#fff;
   
   
   
}
.poster_box:hover .poster_hover{
   display:block;
   background: rgba(0, 0, 0, 0.6);
}
/* ----------------------------------- */

/* 영화 상영예정작 css */
#container{
   width:100%;
   margin: 0px auto;
   position : relative;
   overflow: hidden;
}
#container_inner{
   
   /*  width:80%; height:100%; position:relative; margin:-10px auto;
      width:100%; height:50px; background:rgb(119, 119, 119, 0.3); color:white; border-radius:20px; text-align:center;
      font-size:20px; font-weight:bold; line-height:50px; */
   width:70%; 
   margin:300px 15%;
   line-height:25px;
   color:white;
   float:left;
   font-weight:bold; 
   background:rgb(119, 119, 119, 0.3);
   border-radius:20px;
   /* background: linear-gradient(to right,#0f0f0f 20%,rgba(15,15,15,0.9) 50%,#0f0f0f 80%); */
}
#footer{
   width:100%; height:200px;
   float:left;
}
#contents_rank{
   display: none;
}

#contents_query{
   display: none;
}

#page_title{
   padding: 20px;
   font-size: 25px;
   margin-bottom:20px;
   color:white;
}

.movie_title_box > div{
   color:white;
}

.movie_infos div{
   display:inline;
   color:white;
}
.movie_release_rel{
   border-right:1px solid #f1f1f1;
   margin-right: 8px;
}



#movie_list_nav{
   width:60%;
   margin:0 auto;
   height:40px;
   text-align:center;
   line-height:2.5em;
} 



#movie_list_nav a {
   color:white;
} 
 
#movie_list_nav .movie_list_nav1{
   color:white;
   width:30%;
   background:rgb(225, 225, 225, 0.3);
   margin-right:5%;
   height:100%;
   float:left;
   border-radius:30px;

}
#movie_list_nav .movie_list_nav2{
   color:white;
   width:30%;
   background:rgb(225, 225, 225, 0.3);
   height:100%;
   float:left;
   border-radius:30px;
}

#movie_list_nav .movie_list_nav3{
   color:white;
   float:right;
   width:30%;
   background:rgb(225, 225, 225, 0.3);
   height:100%;
   border-radius:30px;
}


#select_movie_lists_release{
   /*중간박스*/
   width:80%;
   margin:50px 11%;
   overflow: hidden;
}


#select_movie_lists_release > div{
   width:230px;
   height:380px;
   float:left;
   margin-right:35px;
   margin-bottom:30px;
}


#select_movie_lists_release_2{
   width:80%;
   margin:-10px 11%;
   display:none;
   overflow: hidden;
   
}
#select_movie_lists_release_2 > div{
   width:230px;
   height:380px;
   float:left;
   margin-right:35px;
   margin-bottom:30px;

}
#select_movie_lists_release_3{
   width:80%;
   margin:-10px 11%;
   display:none;
   overflow: hidden;
}
#select_movie_lists_release_3>div{
   width:230px;
   height:380px;
   float:left;
   margin-right:35px;
   margin-bottom:30px;
}

#select_movie_lists_release_4{
   width:80%;
   margin:-10px 11%;
   display:none;
   overflow: hidden;
}
#select_movie_lists_release_4>div{
   width:230px;
   height:380px;
   float:left;
   margin-right:35px;
   margin-bottom:30px;
}

#movie_release_list_moreSee{
   margin: 0px auto;
}

/* #nav{ width:100%; height:200px; position:fixed; z-index:5; }
#nav > ul{ width:60%; height:50px; position:relative; margin:120px auto; list-style:none; background:rgb(119, 119, 119, 0.4); border-radius:20px; }
#nav > ul > li{ width:20%; height:50px; text-align:center; float:left; line-height:50px; }
#nav > ul > li > a{ text-decoration:none; font-size:18px; font-weight:400px; letter-spacing:2px; color:white; text-shadow:5px 5px 5px gray, 0 0 120px white, 0 0 5px gray; }
#nav > ul > li > a:visited{ text-decoration:none; } */