@charset "UTF-8";
*{margin:0; padding:0;}
li{ list-style:none; }
a{ text-decoration:none; }

#container{
	border:1px solid black;
	width:1100px;
	height:1400px;
	margin: 100px auto;
	padding-bottom:100px;
	position : relative;
	overflow: hidden;
}

/* #chart_title{
	position : absolute;
	width:940px;
	left : 30px;
	top : 10px;
	font-size: 28px;
	font-weight: bold;
	color:white;
	padding-bottom:5px;
	border-bottom:3px solid white;
} */

#movie_first_box{
	width:1100px;
	height:400px;
	position:relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 75% auto;
	background-position: center 0;
	z-index: -1;
}

#movie_first_box_cover{
	z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#0f0f0f 20%,rgba(15,15,15,0.6) 50%,#0f0f0f 80%);
}
/* #poster_css{
	position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    width: 1100px;
    margin: 0 0 0 -550px;
    height: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: .8;
} */
#movie_detail_poster{
	border:1px solid #111111;
	position : absolute;
	right : 50px;
	top : 55px;
}

#movie_detail_infomation{
	position : absolute;
	left : 30px;
	top : 50px;
	width:700px;
	height:480px;
	margin-right: 30px;
	color:white;
}

#movie_titles{
	/* border-bottom:1px solid #b2bec3; */
	margin-bottom:15px;
}

#movie_detail_title{
	font-size: 40px;
	font-weight: 400;
	padding-bottom:1px;
	color:white;
	text-shadow: 2px 2px 10px rgba(0,0,0,.7);
	line-height: 1.2;
}

#movie_detail_titleEng{
	font-size: 20px;
	color : white;
	padding-bottom:8px;
}

#movie_baseInfo{
	line-height:25px;
	font-size:13px;
	margin-top:100px;
	margin-bottom:15px;
}


#movie_detail_genre{
	display: inline;
	padding-right:10px;
	border-right:1px solid #b2bec3;
}

#movie_detail_relDate{
	display: inline;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #b2bec3;
}

#movie_detail_runtime{
	padding-left:10px;
	display: inline;
}

#movie_baseInfo_2{
	line-height:25px;
	font-size: 13px;
}

#movie_detail_nation{
	display: inline;
	padding-right:10px;
	border-right:1px solid #b2bec3;
}

#movie_detail_rating{
	padding-left:10px;
	display: inline;
}

#movie_detail_plots{
	border-bottom:1px solid #b2bec3;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
	position : absolute;
	left : 0%;
	top : 410px;
	width:1080px;
	padding-left:10px;
	padding-right:10px;

	
}

#movie_detail_plot_title{
	padding:15px;
	font-size: 18px;
	font-weight:bold;
}

#movie_detail_plot{

	letter-spacing: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
	padding:15px;
}


#movie_detail_still_box{
	position : absolute;
	top : 560px;
	width:1080px;
	letter-spacing:3px;
	padding-left:10px;
	padding-right:10px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
#movie_detail_still_box_position{
	position : relative;
	overflow: hidden;
	height:300px;
}
#movie_detail_still_title{
	font-size: 18px;
	font-weight:bold;
	padding:15px;
}

#movie_detail_still > img{
	margin-left:3px;
	margin-right:3px;
	border-radius: 8px;
}

#movie_still_img_0{
	position:relative;
	z-index:0;
	border:2px solid white;
	width:280px;
	height:180px;
}
#movie_still_img_1{
	position:relative;
	z-index:1;
	border:2px solid white;
	width:280px;
	height:180px;
}
#movie_still_img_2{
	position:relative;
	z-index:0;
	border:2px solid white;
	width:280px;
	height:180px;
}

#still_imgs{
	position: absolute;
	top:60px;
	left:100px;
}

#still_imgs > img{
	border-radius: 8px;
}


#prevBtn{
	display:none;
	float:left;
}

#nextBtn{
	float:right;
}

#movie_trailer_box{
	border:1px solid black;
	float:left;
	position : absolute;
	left : 74px;
	top : 900px;
	width:950px;
}

#review_box{
	position: absolute;
	top:1200px;
	left:100px;
}
