@charset "UTF-8";

li{ list-style:none; }
a{ text-decoration:none; }

#loadingText{
	text-align: center;
}

#select_movie_list{
	overflow: hidden;
}

#movie_rank_box_one{
	border:1px solid red;
	width:230px;
	height:450px;
	float:left;
	margin:20px;
	text-align: center;
	
}