@charset "UTF-8";

li{ list-style:none; }
a{ text-decoration:none; }

#container{
	border:1px solid black;
	width:1100px;
	margin: 100px auto; 
	padding-bottom:100px;
	position : relative;
}

#page_title{
	border:1px solid black;
	font-size: 25px;
	margin-bottom:20px;
}

#movie_list_nav{
	text-align:center;
	border:1px solid black;
	height:40px;
} 
 
#movie_list_nav .movie_list_nav1{

	width:260px;
	height:38px;
	float:left;
	border:1px solid black;
}
#movie_list_nav .movie_list_nav2{
	width:260px;
	height:38px;
	float:left;
	border:1px solid black;
}

#movie_list_nav .movie_list_nav3{

	float:right;
	width:200px;
	height:38px;
}


#select_movie_lists_release{
	overflow: hidden;
}
#select_movie_lists_release>div{
	width:230px;
	height:450px;
	border:1px solid red;
	float:left;
	margin:20px;
}
#select_movie_lists_release_2{
	display:none;
	overflow: hidden;
}
#select_movie_lists_release_2>div{
	width:230px;
	height:450px;
	border:1px solid red;
	float:left;
	margin:20px;
}
#select_movie_lists_release_3{
	display:none;
	overflow: hidden;
}
#select_movie_lists_release_3>div{
	width:230px;
	height:450px;
	border:1px solid red;
	float:left;
	margin:20px;
}
#select_movie_lists_release_4{
	display:none;
	overflow: hidden;
}
#select_movie_lists_release_4>div{
	width:230px;
	height:450px;
	border:1px solid red;
	float:left;
	margin:20px;
}

#movie_release_list_moreSee{
	margin: 0px auto;
}